# For creating backend API 
flask==2.3.3
# Dependancies for langchain and openai
werkzeug==2.3.7
# Orcharastration and deployment
langchain==0.0.267
# For interacting with OpenAI API
openai==0.28.0
# For loading environment variables from .env file
python-dotenv==0.19.0
# For interacting with AWS services (like S3 for storing documents)
boto3==1.28.0
# Storing and retrieving data
chromadb==0.4.0
# For parsing PDF documents
pypdf==3.9.0
# For tokenization and counting tokens
tiktoken==0.5.1
# For parsing various document formats
unstructured==0.10.30